<div class="row">
    <div class="col">
        <h2>*ngIf</h2>
        <hr>
        <div *ngIf="show" class="card text-white bg-secondary mb-3" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">{{uncleBen}}</h5>
                <p class="card-text"> "{{benMenssage}}" </p>
            </div>
        </div>
        <button (click)="show = !show" class="btn btn-outline-primary btn-block">
            Show/hide
        </button>
    </div>

    <div class="col">
        <h2>*ngFor</h2>
        <hr>
        <ul class="list-group">
            <li *ngFor="let character of characters; let i = index" class="list-group-item"> {{i + 1}} - {{character}} </li>
        </ul>
    </div>
</div>